extends ./layout/index

block contenido
    main.container.mt-5
        h1.text-center.mt-5 #{pagina}
        .row
            h2.d-block.w-100.text-center Agrega un Testimonio
            .row.justify-content-center.col
                .col-md-8
                    form(action="/testimoniales" method="POST")
                        .form-group
                            label(for="nombre") Nombre
                            input#nombre.form-control(type="text", placeholder="Tu Nombre", name="nombre")
                        .form-group
                            label(for="correo") Correo Electrónico
                            input#correo.form-control(type="text", placeholder="Tu Correo", name="correo")
                        .form-group
                            label(for="mensaje") Correo Electrónico
                            textarea#mensaje.form-control(name="mensaje", placeholder="Tu Mensaje", rows= 4)

                        input.btn.py-2.btn-success.btn-block(type="submit", value="enviar")
                        

